.top-container {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    font-weight: 700;
    font-size: 50px;
    color: white;
    margin-top: 170px;
    margin-left: 120px;
    margin-right: 830px;
    line-height: 1.2;
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 30px;
        margin-left: 10px;
        margin-right: 130px;
        margin-top: 80px;
    }

    .subheading {
       
    }
}

.subheading {
    color: white;
    margin-left: 120px;
    margin-right: 840px;
}


.button {
    margin-left: 200px;
    margin-top: 50px;
}